.App {
  text-align: center;
  background: url("../../public/background.png");
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
header {
  padding-top: 2%;
  padding-bottom: 2%;
  font-weight: 500;
  font-size: 2rem;
  background-color: green;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  display: flex;
  flex-direction: row;
}
#span-header {
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background-color: rgb(50, 127, 226);
  color: white;
}
#span-header > p {
  font-size: larger;
  font-weight: 700;
  width: 100%;
  padding-right: 10%;
}

#span-header > img {
  width: 10%;
  height: 10%;
  border-radius: 100%;
  margin-left: 5%;
}
#bot-image {
  background-image: url("../../public/bot.png");
}

.Body {
  position: relative;
  border-radius: 5%;
  margin-top: 10vh;
  height: 80vh;
  width: 40vw;
  box-shadow: 5px 10px 25px 2px grey;
}
#typing {
  text-align: left;
  font-style: italic;
}
.footer {
  position: relative;
  width: 100%;
  margin-bottom: 0px;
}
.footer > input {
  height: 3vh;
  width: 70%;
  border-radius: 1rem;
  outline: none;
  border: none;
  padding: 8px;
  background-color: rgb(184, 177, 177);
}
.footer > button {
  height: 4vh;
  background-color: rgb(50, 135, 163);
  color: white;
  outline: none;
  border: none;
  margin-left: 2%;
}
.chatbody {
  height: 75%;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.user {
  /* background-color: turquoise; */
  /* width: fit-content; */

  margin-bottom: 5%;
  margin-right: 10%;
  margin-left: auto;
  text-align: center;
  background-color: rgb(50, 135, 163);
  padding: 10px;
  border-radius: 2rem;
  color: white;
}
.bot {
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: auto;
  width: auto;
  text-align: center;
  background-color: rgb(71, 92, 99);
  padding: 10px;
  border-radius: 20rem;
  color: white;
}

@media screen and (max-width: 800px) {
  .Body {
    position: relative;
    border-radius: 5%;
    margin-top: 10vh;
    height: 80vh;
    width: 70vw;
    box-shadow: 5px 10px 25px 2px grey;
  }
}
@media screen and (max-width: 500px) {
  .Body {
    position: relative;
    border-radius: 5%;
    margin-top: 0vh;
    height: 100vh;
    width: 100vw;
  }
  #span-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    background-color: rgb(50, 127, 226);
    color: white;
  }
}
